@charset "utf-8";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    background-color: #f1f5f9;
    ;

}

#app {
    max-width: 980px;
    margin: 0 auto;
    display: flex;




}

.px-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;



}


a {
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 2em;
    margin: 1rem;
    color: black;

}

.menu {

    justify-content: space-between;


}

.header-btn {
    height: 36px;
    min-width: 64px;
    padding: 0 25px;
    border-radius: 4px;
    outline: 0;
    border-style: none;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%),
        0 1px 2px 0 rgb(0 0 0 / 6%);
    ;
}

.wrapper {

    width: 540px;
    border-radius: 4px;
    padding: 1.5rem;
    margin-top: 2.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    background-color: #fff;

}



.my-2 {
    display: flex;
    justify-content: space-between;


}



.menu-count {
    margin:1.5rem 3rem 1rem ;
}

.d-flex {
    display: flex;
}



.input-field {
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    width: 440px;
    height: auto;
    padding: 0.75rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    background: #f1f5f9
}

.coffee-submit {
    font-size: 1rem;
    margin-left: 0.5rem;
    line-height: inherit;
    cursor: pointer;
    min-width: 90px;
    height: auto;
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: rgb(5, 150, 105);
}